a {
    color: coral;
    text-decoration: blink;
}


.father {
    background-color: antiquewhite;
    padding: 10px;
}
.mother p {
    text-align-last: center;
    color: brown;
}
span.abo.hmead {
    display: block;
    position: fixed;
    background-color: antiquewhite;
    bottom: 24px;
    width: 992px;
    height: 20px;
    text-align-last: center;
    left: 270px;
}
img.gif {
    width: 120px;
    position: absolute;
}